In [10]:
import pandas as pd
import numpy as np

In [12]:
#loading the dataset
data = pd.read_csv(r'C:\Users\91860\Desktop\SHL_Assessment\extract_data\products.csv')

In [13]:
data.head()

,product_name,product_url,test_type,product_description,Remote_testing_available,Job_levels
0,Global Skills Development Report,https://www.shl.com/products/product-catalog/v...,"['A', 'E', 'B', 'C', 'D', 'P']",This report is designed to be given to individ...,True,"['Director', 'Entry-Level', 'Executive', 'Gene..."
1,ADO.NET (New),https://www.shl.com/products/product-catalog/v...,['K'],Multi-choice test that measures the knowledge ...,True,"['Mid-Professional', 'Professional Individual ..."
2,Accounts Receivable Simulation (New),https://www.shl.com/products/product-catalog/v...,['S'],Simulated data entry test that measures the ab...,True,"['Entry-Level', 'Graduate', 'Mid-Professional'..."
3,Accounts Receivable (New),https://www.shl.com/products/product-catalog/v...,['K'],Multiple-choice test that measures the knowled...,True,"['Entry-Level', 'Graduate', 'Mid-Professional'..."
4,Accounts Payable Simulation (New),https://www.shl.com/products/product-catalog/v...,['S'],Simulated data entry test that measures the ab...,True,"['Entry-Level', 'Graduate', 'Mid-Professional'..."

In [14]:
data.shape

(377, 6)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377 entries, 0 to 376
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product_name              377 non-null    object
 1   product_url               377 non-null    object
 2   test_type                 377 non-null    object
 3   product_description       377 non-null    object
 4   Remote_testing_available  377 non-null    bool
 5   Job_levels                377 non-null    object
dtypes: bool(1), object(5)
memory usage: 15.2+ KB

In [16]:
data = data.drop_duplicates()

In [18]:
data = data.convert_dtypes()

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 377 entries, 0 to 376
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   product_name              377 non-null    string
 1   product_url               377 non-null    string
 2   test_type                 377 non-null    string
 3   product_description       377 non-null    string
 4   Remote_testing_available  377 non-null    boolean
 5   Job_levels                377 non-null    string
dtypes: boolean(1), string(5)
memory usage: 15.6 KB

In [22]:
data["product_url"].nunique()

377

In [24]:
import ast

data["test_type"] = data["test_type"].apply(ast.literal_eval)
data["Job_levels"] = data["Job_levels"].apply(ast.literal_eval)

In [25]:
data.head()

,product_name,product_url,test_type,product_description,Remote_testing_available,Job_levels
0,Global Skills Development Report,https://www.shl.com/products/product-catalog/v...,"[A, E, B, C, D, P]",This report is designed to be given to individ...,True,"[Director, Entry-Level, Executive, General Pop..."
1,ADO.NET (New),https://www.shl.com/products/product-catalog/v...,[K],Multi-choice test that measures the knowledge ...,True,"[Mid-Professional, Professional Individual Con..."
2,Accounts Receivable Simulation (New),https://www.shl.com/products/product-catalog/v...,[S],Simulated data entry test that measures the ab...,True,"[Entry-Level, Graduate, Mid-Professional, Prof..."
3,Accounts Receivable (New),https://www.shl.com/products/product-catalog/v...,[K],Multiple-choice test that measures the knowled...,True,"[Entry-Level, Graduate, Mid-Professional, Prof..."
4,Accounts Payable Simulation (New),https://www.shl.com/products/product-catalog/v...,[S],Simulated data entry test that measures the ab...,True,"[Entry-Level, Graduate, Mid-Professional, Prof..."

In [26]:
test_type_map = {
    "A": "Ability & Aptitude",
    "B": "Biodata & Situational Judgement",
    "C": "Competencies",
    "D": "Development & 360",
    "E": "Assessment Exercises",
    "K": "Knowledge & Skills",
    "P": "Personality & Behavior",
    "S": "Simulations"
}
data["test_type"] = data["test_type"].apply(lambda types: [test_type_map.get(t, t) for t in types])
data.head()

,product_name,product_url,test_type,product_description,Remote_testing_available,Job_levels
0,Global Skills Development Report,https://www.shl.com/products/product-catalog/v...,"[Ability & Aptitude, Assessment Exercises, Bio...",This report is designed to be given to individ...,True,"[Director, Entry-Level, Executive, General Pop..."
1,ADO.NET (New),https://www.shl.com/products/product-catalog/v...,[Knowledge & Skills],Multi-choice test that measures the knowledge ...,True,"[Mid-Professional, Professional Individual Con..."
2,Accounts Receivable Simulation (New),https://www.shl.com/products/product-catalog/v...,[Simulations],Simulated data entry test that measures the ab...,True,"[Entry-Level, Graduate, Mid-Professional, Prof..."
3,Accounts Receivable (New),https://www.shl.com/products/product-catalog/v...,[Knowledge & Skills],Multiple-choice test that measures the knowled...,True,"[Entry-Level, Graduate, Mid-Professional, Prof..."
4,Accounts Payable Simulation (New),https://www.shl.com/products/product-catalog/v...,[Simulations],Simulated data entry test that measures the ab...,True,"[Entry-Level, Graduate, Mid-Professional, Prof..."

In [27]:
data = data.rename(columns={"Remote_testing_available": "remote_testing_available"})
data.head()

,product_name,product_url,test_type,product_description,remote_testing_available,Job_levels
0,Global Skills Development Report,https://www.shl.com/products/product-catalog/v...,"[Ability & Aptitude, Assessment Exercises, Bio...",This report is designed to be given to individ...,True,"[Director, Entry-Level, Executive, General Pop..."
1,ADO.NET (New),https://www.shl.com/products/product-catalog/v...,[Knowledge & Skills],Multi-choice test that measures the knowledge ...,True,"[Mid-Professional, Professional Individual Con..."
2,Accounts Receivable Simulation (New),https://www.shl.com/products/product-catalog/v...,[Simulations],Simulated data entry test that measures the ab...,True,"[Entry-Level, Graduate, Mid-Professional, Prof..."
3,Accounts Receivable (New),https://www.shl.com/products/product-catalog/v...,[Knowledge & Skills],Multiple-choice test that measures the knowled...,True,"[Entry-Level, Graduate, Mid-Professional, Prof..."
4,Accounts Payable Simulation (New),https://www.shl.com/products/product-catalog/v...,[Simulations],Simulated data entry test that measures the ab...,True,"[Entry-Level, Graduate, Mid-Professional, Prof..."

In [29]:
data["remote_testing_available"] = data["remote_testing_available"].map({True: "Yes", False: "No"})

In [30]:
data.head()

,product_name,product_url,test_type,product_description,remote_testing_available,Job_levels
0,Global Skills Development Report,https://www.shl.com/products/product-catalog/v...,"[Ability & Aptitude, Assessment Exercises, Bio...",This report is designed to be given to individ...,Yes,"[Director, Entry-Level, Executive, General Pop..."
1,ADO.NET (New),https://www.shl.com/products/product-catalog/v...,[Knowledge & Skills],Multi-choice test that measures the knowledge ...,Yes,"[Mid-Professional, Professional Individual Con..."
2,Accounts Receivable Simulation (New),https://www.shl.com/products/product-catalog/v...,[Simulations],Simulated data entry test that measures the ab...,Yes,"[Entry-Level, Graduate, Mid-Professional, Prof..."
3,Accounts Receivable (New),https://www.shl.com/products/product-catalog/v...,[Knowledge & Skills],Multiple-choice test that measures the knowled...,Yes,"[Entry-Level, Graduate, Mid-Professional, Prof..."
4,Accounts Payable Simulation (New),https://www.shl.com/products/product-catalog/v...,[Simulations],Simulated data entry test that measures the ab...,Yes,"[Entry-Level, Graduate, Mid-Professional, Prof..."

In [32]:
data["product_description"] = (data["product_description"].str.replace(r"\r\n|\n|\t", " ", regex=True))

data["product_description"] = (data["product_description"].str.replace(r"\s+", " ", regex=True).str.strip())

data.head()

,product_name,product_url,test_type,product_description,remote_testing_available,Job_levels
0,Global Skills Development Report,https://www.shl.com/products/product-catalog/v...,"[Ability & Aptitude, Assessment Exercises, Bio...",This report is designed to be given to individ...,Yes,"[Director, Entry-Level, Executive, General Pop..."
1,ADO.NET (New),https://www.shl.com/products/product-catalog/v...,[Knowledge & Skills],Multi-choice test that measures the knowledge ...,Yes,"[Mid-Professional, Professional Individual Con..."
2,Accounts Receivable Simulation (New),https://www.shl.com/products/product-catalog/v...,[Simulations],Simulated data entry test that measures the ab...,Yes,"[Entry-Level, Graduate, Mid-Professional, Prof..."
3,Accounts Receivable (New),https://www.shl.com/products/product-catalog/v...,[Knowledge & Skills],Multiple-choice test that measures the knowled...,Yes,"[Entry-Level, Graduate, Mid-Professional, Prof..."
4,Accounts Payable Simulation (New),https://www.shl.com/products/product-catalog/v...,[Simulations],Simulated data entry test that measures the ab...,Yes,"[Entry-Level, Graduate, Mid-Professional, Prof..."

In [33]:
data.to_csv("products_cleaned.csv", index=False)
data.to_json("products_cleaned.json", orient="records", indent=2)